In [88]:
from IPython.display import display
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import mglearn
from sklearn.datasets import make_blobs
from inspect import signature as sig
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings("ignore")

* 인코딩은 선형 모델에 범주형 데이터를 이용하기 위해 여러 범주를 가진 데이터를 범주별로 열을 분리해서 표현하는 것이다. 
* 라벨인코더는 단순히 문자열로 된 데이터를 숫자로 변환하는 것을 의미한다.

# 1. LabelEncoder

In [89]:
from sklearn.datasets import load_iris
from sklearn.preprocessing import LabelEncoder
iris = load_iris()

In [90]:
iris_pd = pd.DataFrame(iris.data, columns=iris.feature_names)
iris_pd['target'] = iris.target
iris_pd.head(10)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
5,5.4,3.9,1.7,0.4,0
6,4.6,3.4,1.4,0.3,0
7,5.0,3.4,1.5,0.2,0
8,4.4,2.9,1.4,0.2,0
9,4.9,3.1,1.5,0.1,0

In [91]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [92]:
# 라벨인코더 객체를 생성하고 학습시킴
le = LabelEncoder()
le.fit(iris.target_names)

LabelEncoder()

In [93]:
# 라벨인코더의 classes_ 속성 : 학습시킨 원래 범주들이 들어있는 어레이
le.classes_

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [94]:
# 라벨인코더 객체의 메소드 transform
le.transform(['setosa','virginica'])

array([0, 2], dtype=int64)

In [95]:
# 라벨인코더 객체의 메소드 inverse_transform
print(iris.target)
le.inverse_transform(iris.target)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]

array(['setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica'], dtype='<U10')

In [96]:
iris_pd['species'] = le.inverse_transform(iris.target)
iris_pd.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,species
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

# 2. OneHotEncoder
 - 숫자형이나 문자형 범주형 변수를 모두 인식해서 인코딩한다.

In [98]:
train = pd.DataFrame([['a',1],['b',2],['c',3]])
train # train은 판다스 데이터프레임

   0  1
0  a  1
1  b  2
2  c  3

In [111]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
print(type(ohe.fit_transform(train)))
# 판다스 데이터프레임 or 넘피 어레이를 학습,변환하면 -> matrix 행렬 타입!! (사이파이 희소 행렬)
pd.DataFrame(ohe.fit_transform(train, ).toarray())
# 매트릭스를 어레이로 바꾸고 그걸 다시 데이터프레임으로 바꿈 -> 예쁘게 보려고..

<class 'scipy.sparse.csr.csr_matrix'>

     0    1    2    3    4    5
0  1.0  0.0  0.0  1.0  0.0  0.0
1  0.0  1.0  0.0  0.0  1.0  0.0
2  0.0  0.0  1.0  0.0  0.0  1.0

In [112]:
test = pd.DataFrame([['a',4],['b',2],['c',3]])
ohe.transform(test)
# 훈련 셋에 없던 데이터나 다르게 매치된 데이터가 들어오게 되면 에러를 낸다

ValueError: Found unknown categories [4] in column 1 during transform

In [113]:
train = np.array([['a',1],['b',2],['c',3]])
print(ohe.fit_transform(train)) # 안예쁨...

  (0, 0)	1.0
  (0, 3)	1.0
  (1, 1)	1.0
  (1, 4)	1.0
  (2, 2)	1.0
  (2, 5)	1.0

# 3. get_dummies
 - 기본적으로 숫자형 범주형데이터만 인식해서 인코딩하지만 문자형도 인코딩할 수 있도록 하는 매개변수(columns)가 존재

In [114]:
train = pd.DataFrame([['a',1],['b',2],['c',3]])
pd.get_dummies(train) 
# <- 여기에는 넘피 어레이가 아니라 판다스 데이터 프레임만 올 수 있다!!

   1  0_a  0_b  0_c
0  1    1    0    0
1  2    0    1    0
2  3    0    0    1

In [115]:
test = pd.DataFrame([['a',4],['b',2],['d',3]])
print(test)
pd.get_dummies(test) 
# 이건 단지 판다스 패키지의 메소드로 원핫인코더 같은 객체가 아니다!
# 따라서 학습의 개념이 없으므로 아무 데이터나 넣어도 그 데이터에 맞춰서 인코딩한다

   0  1
0  a  4
1  b  2
2  d  3

   1  0_a  0_b  0_d
0  4    1    0    0
1  2    0    1    0
2  3    0    0    1

In [116]:
# 두번째 열(인덱스번호는 1)만 인코딩하라고 지정해줌 
# -> 숫자형 범주형 데이터도 인코딩 가능
# -> 문자형 범주형 데이터도 인코딩 하지 않도록 설정할 수 있다.
pd.get_dummies(test, columns=[1])

   0  1_2  1_3  1_4
0  a    0    0    1
1  b    1    0    0
2  d    0    1    0